@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    height: 100%;
    font-size: 14px !important;
}
* {
    font-family: 'Inter', sans-serif;
}
.brd-page {
    font-size: unset;
}
body {
    background: #eeeeee;
}
a {
    text-decoration: none !important;
}
#brd-messages, #brd-access, #brd-visit, .main-title {
    display: none;
}
#brd-navlinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5px auto;
    max-width: 1100px;
    min-width: 700px;
    padding: 10px 20px;
    height: 70px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: unset;
    line-height: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 10px 0px;
    box-sizing: border-box;
}
#brd-navlinks:after {
    display: none;
}
#welcome {
    display: flex;
    align-items: center;
    font-weight: bold;
}
p#welcome, #brd-navlinks a {
    color: #000;
}
#brd-navlinks ul {
    padding-right: 0;
    height: 50px;
    flex-grow: 1;
    display: flex;
}
#brd-navlinks ul li {
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin-left: 15px;
}
#brd-navlinks ul li.isactive {
    background: unset;
}
#brd-navlinks ul li.isactive a {
    color: unset;
    font-weight: bold;
}
#brd-navlinks li:hover, #brd-navlinks li:active, #brd-navlinks li:focus {
    background: unset;
    opacity: 0.8;
}
#brd-navlinks li:hover a, #brd-navlinks li:active a, #brd-navlinks li:focus a {
    color: unset;
}
#brd-navlinks li#navprofile, #brd-navlinks li#nav_pun_pm {
    display: none;
}
#brd-navlinks li#navindex {
    height: 50px;
    width: 50px;
    background-image: url('https://github.com/vertexofvortex/vertexofvortex.github.io/raw/master/images/noimg.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0;
    margin-right: 0px;
    box-sizing: border-box;
    order: -1;
}
#brd-navlinks li#navindex a {
    font-size: 0;
}
#topavatar, #topavatar:active {
    margin: 0;
    max-height: 50px;
    max-width: 50px;
    border-radius: 25px;
    border: 0px !important;
    margin-left: 10px;
}
#brd-head {
    padding: 0;
}
a.logo {
    display: none;
}
.announ {
    margin: 0;
    width: 100%;
    float: unset;
}
#brd-announcement {
    background: #fff;
    box-shadow: unset;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 10px 0px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}
#brd-announcement p {
    padding-top: 0;
}
#brd-announcement .content {
    padding-top: 0;
}
#brd-wrap {
    padding-top: 20px;
    margin-top: -5px;
}
.main-content .main-item {
    display: flex;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    border: 0px;
}
.main-content .main-item .icon {
    margin-left: 0;
    display: block;
    float: none;
    margin-top: 0;
    background-image: url('https://github.com/vertexofvortex/vertexofvortex.github.io/raw/master/images/noimg.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-right: 0px;
}
.main-item .item-subject {
    margin: 5px;
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}
.main-item.main-first-item .item-subject {
    margin-top: 5px;
}
.main-item .item-subject:hover {
    background: #eee;
    cursor: pointer;
}
.main-content .main-item li.info-lastpost:hover {
    background: #fbfbfb;
    cursor: pointer;
}
.main-content .main-item li.info-topics:hover, .main-content .main-item li.info-posts:hover {
    background: #eee;
}
.main-content .main-item ul {
    right: 0;
    margin-left: 0;
    display: flex;
}
.main-content .main-item li {
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    border: 0px;
    margin: 5px;
    margin-right: 0;
    border-radius: 5px;
    padding: 5px;
}
.main-content .main-item li.info-lastpost {
    margin-right: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 0px;
}
.main-content .main-item.main-first-item li.info-lastpost {
    margin-top: 5px;
}
.main-content .main-item li.info-lastpost strong, .main-content .main-item li.info-lastpost cite {
    padding-left: 0;
}
.main-content .main-item li.info-lastpost cite:nth-child(3) {
    font-size: 0.85em;
    opacity: 0.8;
}
.main-content .main-item li.info-topics, .main-content .main-item li.info-posts {
    display: none;
}
.main-head {
    padding: 0;
    border: 0px;
    height: 45px;
    border-radius: 5px 5px 0px 0px;
    background: #428235;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 10px 0px;
}
.main-head .hn {
    padding: 0;
    height: 100%;
    line-height: 45px;
}
.main-subhead {
    display: none;
}
.main-content {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 10px 0px;
}
.gen-content, .main-content {
    border: 0px;
    border-radius: 0px 0px 5px 5px;
}
.item-subject .hn, .item-subject p {
    margin: 0;
}
.item-subject .counters-box {
    margin-top: 10px;
    opacity: 0.8;
}
.item-subject .counters-box .counter, .item-subject .modlist {
    font-size: 0.85em;
    padding-left: 1.5em;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
.item-subject .counters-box .counter-topics {
    background-image: url('/topics.png');
}
.item-subject .counters-box .counter-posts {
    background-image: url('/posts.png');
}
.item-subject .modlist {
    font-size: 0.85em;
    width: max-content;
    background-image: url('/modlist.png');
}
.item-subject span.modlist {
    display: inline;
}
.item-info {
    background-color: #f3f3f3;
}
.item-subject:hover:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: #e6e6e6;
}
.main-content .main-item:last-of-type .item-info {
    border-radius: 0px 0px 5px 0px;
}